* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #4ab;
}

#app {
  padding: 10px;
  width: 100vw;
  height: 100vh;
  font-family: 'Garamond', 'Times New Roman', serif;
}

#header {
  font-size: 25px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexWrap {
  flex-wrap: wrap;
}

#gridPanel, #helpPanel {
  width: 90%;
  height: 90%;
  margin: auto;
  /*gap: 1%;*/
  gap: 15px;
}

#controlPanel {
  padding: 20px;
  margin-top: 20px;
  font-family: 'Courier New', monospace;
}

.gridRow {
  /*gap: 1%;*/
  /*height: 11%;*/
  gap: 15px;
}

.gridCell {
  /*height: 100%;*/
  /*width: 11%;*/
  width: 90px;
  height: 90px;
  border: 1px solid #111;
  background: #eee;
  border-radius: 15px;
  position: relative;
  top: 0;
  left: 0;
  transition-duration: 0.05s;
}

.gridCellChecked {
  background: #111;
  border: 1px solid #eee;
}

.gridCell:hover {
  box-shadow: 2px 2px #444;
  top: -2px;
  left: -2px;
}

#controlPanel > div {
  margin: 0 15px;
}

#nRooksBlock {
  font-size: 30px;
  position: relative;
  top: 5px;
  color: white;
}

#nRooksBlock label {
  margin-right: 5px;
}

button {
  font-size: 25px;
  padding: 5px 10px;
  font-family: 'Courier New', monospace;
}

.hide {
  display: none;
  visibility: hidden;
}
