* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #4ab;
}

#app {
  padding: 25px;
  width: 100vw;
  height: 100vh;
  font-family: 'Garamond', 'Times New Roman', serif;
}

#header {
  font-size: 25px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexWrap {
  flex-wrap: wrap;
}

#mainPanel {
  width: 100%;
  height: 100%;
}

#gridPanel, #helpPanel {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-content: flex-start;
}

#helpPanel {
  padding: 50px;
  border: 1px solid #fff;
}

#helpWrap {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  gap: 25px;
}

#helpWrap a {
  color: #fff;
}

#copyrightLine {
  font-size: 1.5rem;
}

hr {
  color: #fff;
}

#controlPanel {
  padding: 20px;
  margin-top: 20px;
  font-family: 'Courier New', monospace;
  flex-wrap: wrap;
}

.gridCell {
  border: 1px solid #111;
  background: #eee;
  border-radius: 15px;
  position: relative;
  top: 0;
  left: 0;
  /*transition-duration: 0.05s;*/
  cursor: pointer;
}

.gridCellChecked {
  background: #111;
  border: 1px solid #eee;
}

.gridCell:hover {
  box-shadow: 2px 2px #444;
  top: -2px;
  left: -2px;
}

#controlPanel > div {
  margin: 0 15px;
}

#nRooksBlock {
  font-size: 1.5rem;
  color: #fff;
}

#nRooksBlock label {
  margin-right: 5px;
}

.hide {
  display: none;
  visibility: hidden;
}

/* options */

#buttonsBlock {
  gap: 10px;
}

button {
  font-size: 1.5rem;
  padding: 5px 10px;
  font-family: 'Courier New', monospace;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
  color: #000;
}

button:active {
  cursor: pointer;
  background: rgba(255, 255, 255, .9);
  color: #000;
}

.option label {
  gap: 10px;
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 1.5rem;
  color: #fff;
}

.option label:has(input:checked), .optionValidated {
  background: rgba(255, 255, 255, 0.75);
  color: #000;
}

.option label:has(input:not(:disabled)), input[type="checkbox"]:not(:disabled) {
  cursor: pointer;
}

.option label:has(input:disabled) {
  background-color:rgba(225, 225, 225, .75);
  border-color: #777 !important;
  color: #555;
}